
@font-face {
    font-family:'beefdeaf111';
    src:url('http://localhost:8888/public/storage/image/avatar/20220424/86fa0aa2cb969b018eb535ba2b7263dc.ttf');
    font-weight:'normal';
    font-style:'normal';
  }
