
@font-face{
    font-family:'beefdeaf111';
    src:url('http://localhost:8888/public/storage/image/avatar/20220424/ff4679ce747da7b154e38f9af93cbde9.ttf');
    font-weight:'normal';
    font-style:'normal';
}
