
@font-face {
    font-family:'beefdeaf111';
    src:url('http://localhost:8888/public/storage/image/avatar/20220424/caae83a61049731e9c3650269720e24c.ttf');
    font-weight:'normal';
    font-style:'normal';
  }
