
@font-face {
    font-family:'beefdeaf111';
    src:url('http://localhost:8888/public/storage/image/avatar/20220424/722507540ab5276b8b169dcfc1af81e0.ttf');
    font-weight:'normal';
    font-style:'normal';
  }
