
@font-face{
    font-family:'beefdeaf111';
    src:url('http://localhost:8888/public/storage/image/avatar/20220424/729840a73d704d179c6aeb2bf1f3a8f2.ttf');
    font-weight:'normal';
    font-style:'normal';
}
